.app-header {
  position: fixed;              /* ⭐ Yuxarıda sabit */
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background: rgba(255, 255, 255, 0.85);  /* Premium blur background */
  backdrop-filter: blur(12px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);

  z-index: 9999;
}

.header-inner {
  max-width: 1450px;
  margin: auto;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
}

.logo img {
  height: 55px;
  object-fit: contain;
}

/* SEARCH genişliyi */
.search-wrapper {
  flex: 1;
  max-width: 600px;
  margin: 0 30px;
}

/* NAV */
.nav-links {
  display: flex;
  gap: 20px;
  font-size: 15px;

  a {
    color: #333;
    text-decoration: none;
  }
}
