.detail-container {
  display: grid;
  grid-template-columns: 90px 1fr 400px;
  gap: 20px;
  margin-top: 30px;
}

/* LEFT thumbs */
.thumbs img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.thumbs img.active,
.thumbs img:hover {
  border-color: #ff008f;
  transform: scale(1.05);
}

/* MAIN image */
.main-view {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Zoom Lens */
.zoom-lens {
  position: absolute;
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,0.25);
  border: 2px solid #ff008f;
  border-radius: 8px;
  pointer-events: none;
}

/* ⭐ ZOOM BOX AŞAĞIDA – layout pozmur */
.zoom-box {
  margin-top: 20px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #eee;
}

.zoom-box img {
  width: 70%;
  height: 100%;
   object-fit: fill;
}
