/* Birmarket container */
.home-wrapper {
  max-width: 1440px;
  margin: 20px auto 0 auto;
  padding: 0 20px;

  display: grid;

  /* 3 sütun */
  grid-template-columns: 260px 1fr 300px;

  /* 2 sətir: (üst 3 blok) + (info bar) */
  grid-template-rows: auto auto;

  /* grid area təyin */
  grid-template-areas:
    "left center right"
    "left info   info";

  gap: 20px;
}

.app-container {
  max-width: 1320px;  // Trendyol 1240–1320px
  margin: 0 auto;     // ortalanır
  padding: 20px 16px; // sağ-sol boşluq
  min-height: calc(100vh - 80px); // header çıxılsın
  box-sizing: border-box;
}


/* Grid area təyinatları */
.left   { grid-area: left; }
.center { grid-area: center; }
.right  { grid-area: right; }
.info   { grid-area: info; }

/* Info bar container */
.home-info {
  width: 100%;
}
