<div class="products-page">

  <div class="left">
    <app-product-filter-sidebar></app-product-filter-sidebar>
  </div>

  <div class="right">
    <app-product-filter-sort-bar
    (sortChanged)="onSort($event)">
</app-product-filter-sort-bar>

    <!-- SORT BAR (səndə var idi) -->
    <app-product-top-categories></app-product-top-categories>

    <!-- PRODUCT LIST -->
    <div class="products-grid">

      <app-product-card
        *ngFor="let p of filteredProducts"
        [product]="p"
        [ngClass]="{
          'search-highlight': searchValue && p.name.toLowerCase().includes(searchValue)
        }"
      ></app-product-card>

    </div>

  </div>

</div>
