<div class="products-page">

  <app-product-filter-sidebar class="left"></app-product-filter-sidebar>

  <div class="right">

    <app-product-top-categories></app-product-top-categories>

    <div class="sort-bar">
      <select [(ngModel)]="selectedSort" (change)="sortProducts()">
        <option value="default">Sırala</option>
        <option value="price-asc">Ucuzdan bahaya</option>
        <option value="price-desc">Bahadan ucuza</option>
        <option value="rating-desc">Ən yüksək reytinq</option>
      </select>
    </div>

    <div class="products-grid">
      <app-product-card
        *ngFor="let p of filteredProducts"
        [product]="p">
      </app-product-card>
    </div>

  </div>

</div>
