.products-page {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}

.left {
  width: 260px;
}

.right {
  flex: 1;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.search-highlight {
  outline: 2px solid #8a2be2 !important;
  border-radius: 10px;
  transition: 0.2s;
}
