.t-card {
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding: 10px;
  transition: box-shadow .25s ease, transform .25s ease;

  &:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    transform: translateY(-3px);
  }
}

/* IMAGE AREA */
.image-wrap {
  width: 100%;
  height: 240px;
  position: relative;
}

/* IMAGES */
.main-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;

  opacity: 0;
  transition: opacity .08s linear; // FAST CHANGE
  
  &.active {
    opacity: 1;
  }
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 6px;
}

.dots span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ccc;
  transition: transform .2s, background .2s;

  &.active {
    transform: scale(1.3);
    background: #ff6900;
  }
}

/* TITLE */
.title {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
}

/* PRICE */
.price-box {
  font-size: 18px;
  margin-top: 4px;
  color: #ff6900;
  font-weight: bold;
}
