<div class="t-card"
     (click)="goToDetail()"
     (mouseenter)="startHover()"
     (mouseleave)="stopHover()"
>

  <!-- FAVORITE BUTTON -->
  <button class="fav" (click)="toggleFavorite($event)">
    <i [class.active]="product.isFavorite">❤</i>
  </button>

  <!-- ŞƏKİL WRAPPER -->
<div class="image-wrap"
     (mouseenter)="startHover()"
     (mouseleave)="stopHover()"
     (mousemove)="onMouseMove($event)">
  
  <img [src]="currentImage" class="main-img" />

</div>


  <!-- NAME -->
  <div class="title">{{ product.name }}</div>

  <!-- VIEWS -->
  <div class="views">👀 24 saatda {{ product.views }} nəfər baxdı!</div>

  <!-- RATING -->
  <div class="rating">
    ⭐ {{ product.rating }} <span class="count">({{ product.ratingCount }})</span>
  </div>

  <!-- AZ BADGE -->
  <div class="az-badge">🇦🇿 Azərbaycana Özəl Endirim</div>

  <!-- PRICE -->
  <div class="price-box">
    <span class="discount">-{{ product.discount }}%</span>
    <span class="price">{{ product.price }} ₼</span>
    <span *ngIf="product.oldPrice" class="old-price">
      {{ product.oldPrice }} ₼
    </span>
  </div>

</div>
