<div class="home-wrapper">

  <!-- LEFT CATEGORY -->
  <div class="left">
    <app-sidebar-categories></app-sidebar-categories>
  </div>

  <!-- CENTER SLIDER -->
  <div class="center">
    <app-home-slider></app-home-slider>
  </div>

  <!-- RIGHT BANNERS -->
  <div class="right">
    <app-right-banners></app-right-banners>
  </div>

  <!-- INFO BAR - row 2 -->
  <div class="info">
    <app-info-bar></app-info-bar>
  </div>

</div>

<!-- DEALS -->
<div class="container">
  <app-deals-of-day></app-deals-of-day>
</div>
<div class="container">
  <app-deals-of-day></app-deals-of-day>
</div>
<div class="container">
  <app-deals-of-day></app-deals-of-day>
</div>
