.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal {
    background: #fff;
    padding: 30px;
    width: 70%;
    border-radius: 12px;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .cities {
      display: flex;
      flex-wrap: wrap;

      .city {
        flex: 1 0 20%;
        margin-bottom: 15px;
        cursor: pointer;

        &:hover {
          color: #7a00ff;
        }
      }
    }
  }
}
