.slider {
  position: relative;
  height: 360px;

  .slide-img {
    width: 100%;
    height: 125%;
    border-radius: 12px;
    object-fit: cover;
  }

  .dots {
    position: absolute;
    bottom: -81px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ddd;
      cursor: pointer;

      &.active {
        background: #7a00ff;
        width: 22px;
        border-radius: 8px;
      }
    }
  }
}
